
<!--<div class="wrapper" ng-app="app.login" ng-controller="LoginCtrl" >-->
  <!--<form class="form-signin" name="loginform">-->
    <!--<h2 class="form-signin-heading">Please login</h2>-->
    <!--<input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus=""-->
    <!--ng-model="username"-->
    <!--ng-minlength="3"-->
    <!--ng-maxlength="50"-->
    <!--/>-->
    <!--<input type="password" class="form-control" name="password" placeholder="Password" required=""-->
    <!--ng-model="password"-->
    <!--/>-->
    <!--<label class="checkbox">-->
      <!--<input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me-->
    <!--</label>-->

    <!--<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()" ng-disabled="loginform.$invalid" >Login</button>-->
    <!--<div ng-show="loginErrorMsg">-->
      <!--<span style="color:red" role="alert">{{loginErrorMsg}}</span>-->
   <!--</div>-->
  <!--</form>-->
  <!--<br>-->
<!--</div>-->
