
<!--&lt;!&ndash; <div>-->
 <!--<button type="submit" class="btn-primary" ng-click = "activeAddProject()" >Add Project</button>-->
<!--</div>-->
<!--<br>-->
<!--<div>-->
 <!--<button type="submit" class="btn-warning" ng-click="activeEditProject()"> Edit Project </button>-->
<!--</div>-->
<!--&ndash;&gt;-->
<!--<h4>Welcome Admin</h4>-->

<!--<ul class="nav nav-tabs">-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link active" ng-click = "activeAddProject()" >Create Project</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" ng-click="activeEditProject()">Edit Project</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" ng-click="activeDelProject()">Delete Project</a>-->
  <!--</li>-->
  <!--&lt;!&ndash; <li class="nav-item">-->
    <!--<a class="nav-link" ng-click="activeViewProject()">View All Projects</a>-->
  <!--</li> &ndash;&gt;-->
<!--</ul>-->

<!--<div class="row marketing" ng-show="AddProjectForm" ng-controller="ProjectCtrl">-->
  <!--<form name = "projectForm" >-->

         <!--<h1>Create Project</h1>-->

         <!--<fieldset>-->
           <!--<legend><span class="number">1</span>Project basic info</legend>-->
           <!--<label for="First Name">Title:</label>-->
           <!--<input type="text" id="title" name="Title" ng-model="Title" placeholder="Project Title">-->

           <!--<label >Description:</label>-->
           <!--<input type="text" id="description" name="Description" ng-model="Description"-->
            <!--placeholder="Project Description">-->

           <!--<label for="mail">Start Date (YYYY-MM-DD):</label>-->
           <!--<input type="text" id="start_date" name="start_date" ng-model="start_date"-->
           <!--ng-minlength="3"-->
           <!--ng-maxlength="30"-->
           <!--required-->
           <!--placeholder="Project Start Date"-->
           <!--&gt;-->

           <!--<label for="mail">End Date (YYYY-MM-DD): </label>-->
           <!--<input type="text" id="end_date"-->
           <!--required="true" name="end_date" ng-model="end_date" placeholder="Project End Date">-->
<!--&lt;!&ndash;-->
         <!--<fieldset>-->
           <!--<legend><span class="number">2</span>Profile</legend>-->
           <!--<label for="bio">Biography:</label>-->
           <!--<textarea id="bio" name="bio" ng-model="bio" placeholder="Write a very vrey very short bio"></textarea>-->
         <!--</fieldset> &ndash;&gt;-->

         <!--<fieldset>-->


           <!--<label>Billable:</label>-->
           <!--<input id="radio-button-yes" checked="checked" name="billable" type="radio" ng-model="billable" value="true" />-->
           <!--<label for="radio-button-yes" class="light">Yes</label>-->

           <!--<input id="radio-button-no" name="billable" type="radio" value="false" ng-model="billable"/>-->
           <!--<label for="radio-button-no" class="light" >No</label>-->

          <!--<br>-->
          <!--<label>Active:</label>-->
          <!--<input id="radio-button-yes" checked="checked" name="active" ng-model="active" type="radio" value="true" />-->
          <!--<label for="radio-button-yes" class="light" >Yes</label>-->

          <!--<input id="radio-button-no" name="active" type="radio" value="false" ng-model="active" />-->
          <!--<label for="radio-button-no" class="light">No</label>-->

         <!--</fieldset>-->
         <!--<div ng-show="SuccessMessage">-->
           <!--<span style="color:red" role="alert">{{SuccessMessage}}</span>-->
        <!--</div>-->

        <!--<div ng-show="addProjectError">-->
          <!--<span style="color:red" role="alert"> {{addProjectError}} </span>-->
       <!--</div>-->


       <!--<div ng-show="Required">-->
         <!--<span style="color:red" role="alert"> {{Required}} </span>-->
      <!--</div>-->
        <!--<div>-->
         <!--<button type="submit" class="btn-secondary" ng-click = "addProject()" >Add Project</button>-->
       <!--</div>-->
       <!--</form>-->

<!--</div>-->



<!--&lt;!&ndash; edit div &ndash;&gt;-->

<!--<div class="row marketing" ng-show="EditProjectForm" ng-controller="ProjectEditCtrl">-->
  <!--<form name = "projectForm" >-->
         <!--<h1>Edit Project</h1>-->

         <!--<fieldset>-->
           <!--<legend><span class="number">1</span>Edit basic info</legend>-->
           <!--<label for="First Name">Title:</label>-->
           <!--<input type="text" id="title" name="Title" ng-model="Title" placeholder="Project Title">-->
           <!--<label for="First Name">Project Primary Key:</label>-->
           <!--<input type="text" id="title" name="pk" ng-model="pk" placeholder="Project PK">-->

          <!--<span ng-show="Errormsg" style="color:red" role="alert">{{Errormsg}} </span>-->


           <!--<label >Description:</label>-->
           <!--<input type="text" id="description" name="Description" ng-model="Description"-->
            <!--placeholder="Project Description">-->

           <!--<label for="mail">Start Date (YYYY-MM-DD):</label>-->
           <!--<input type="text" id="start_date" name="start_date" ng-model="start_date"-->
           <!--ng-minlength="3"-->
           <!--ng-maxlength="30"-->
           <!--required-->
           <!--placeholder="Project Start Date"-->
           <!--&gt;-->

           <!--<label for="mail">End Date (YYYY-MM-DD): </label>-->
           <!--<input type="text" id="end_date" name="end_date" ng-model="end_date" placeholder="Project End Date">-->
         <!--<fieldset>-->


           <!--<label>Billable:</label>-->
           <!--<input id="radio-button-yes" checked="checked" name="billable" type="radio" ng-model="billable" value="true" />-->
           <!--<label for="radio-button-yes" class="light">Yes</label>-->

           <!--<input id="radio-button-no" name="billable" type="radio" value="false" ng-model="billable"/>-->
           <!--<label for="radio-button-no" class="light" >No</label>-->

          <!--<br>-->
          <!--<label>Active:</label>-->
          <!--<input id="radio-button-yes" checked="checked" name="active" ng-model="active" type="radio" value="true" />-->
          <!--<label for="radio-button-yes" class="light" >Yes</label>-->

          <!--<input id="radio-button-no" name="active" type="radio" value="false" ng-model="active" />-->
          <!--<label for="radio-button-no" class="light">No</label>-->

         <!--</fieldset>-->
         <!--<div ng-show="SuccessMessage">-->
           <!--<span style="color:red" role="alert"> {{SuccessMessage}} </span>-->
        <!--</div>-->


        <!--<div>-->
           <!--<button type="submit" class="btn-primary" ng-click="projectEdit()" >Edit Project </button>-->
         <!--</div>-->

         <!--<div ng-show="Required">-->
            <!--<span style="color:red" role="alert">{{Required}} </span>-->
         <!--</div>-->

       <!--</form>-->
  <!--</div>-->


<!--&lt;!&ndash; Delete View &ndash;&gt;-->
<!--<div class="row marketing" ng-show="DelProjectForm" ng-controller="ProjectDelCtrl">-->
  <!--<form name = "projectForm" >-->

         <!--<h1>Delete Project</h1>-->

         <!--<fieldset>-->
           <!--<legend><span class="number">1</span>Delete Project</legend>-->
           <!--<label for="First Name">Project PK:</label>-->

           <!--<input type="text" id="title" name="pk" ng-model="pk" placeholder="Project Primary Key" required="true">-->
           <!--<span  ng-show="Errormsg" style="color:red" role="alert">{{Errormsg}} </span>-->
              <!--<br>-->

           <!--&lt;!&ndash; <label ng-onChange= ""> List of Projects: </label>-->
           <!--{list} &ndash;&gt;-->

         <!--</fieldset>-->
         <!--<div ng-show="SuccessMessage">-->
           <!--<span style="color:red" role="alert">{{SuccessMessage}} </span>-->
        <!--</div>-->
           <!--<div>-->
           <!--<button type="submit" class="btn-danger" ng-click="deleteProject()"> Delete Project</button>-->
         <!--</div>-->

         <!--<div ng-show="Required">-->
           <!--<span style="color:red" role="alert">{{Required}} </span>-->
        <!--</div>-->
       <!--</form>-->

<!--</div>-->

<!--&lt;!&ndash; View projects &ndash;&gt;-->

<!--<div ng-show="projectForm" ng-controller="ViewProjectsCtrl">-->
  <!--<div  class="row marketing">-->
   <!--<form name = "project" >-->

         <!--<h1>Project(s)</h1>-->


          <!--<fieldset>-->
            <!--<label >Title:</label>-->

            <!--<label >Project Primary Key:</label>-->

            <!--<label >Description:</label>-->

            <!--<label >Start Date (YYYY-MM-DD):</label>-->

            <!--<label >End Date (YYYY-MM-DD): </label>-->

            <!--<label>Billable:</label>-->

           <!--<label>Active:</label>-->

          <!--</fieldset>-->

    <!--</form>-->
  <!--</div>-->
<!--</div>-->
